flows.json
[
    {
        "type": "tab",
        "id": "bc1e14f2.43e1e8",
        "label": "Sheet 1"
    },
    {
        "type": "tab",
        "id": "61ef7b03.9e1084",
        "label": "Sheet 2"
    },
    {
        "type": "tab",
        "id": "eba9f89b.145608",
        "label": "Sheet 3"
    },
    {
        "type": "tab",
        "id": "4033aaba.bfcc54",
        "label": "Sheet 4"
    },
    {
        "type": "tab",
        "id": "1fe2ab2d.e01d55",
        "label": "Sheet 8"
    },
    {
        "type": "tab",
        "id": "e8e25add.171da8",
        "label": "Sheet 9"
    },
    {
        "id": "befce5ec.410318",
        "type": "mqtt-broker",
        "broker": "test.mosquitto.org ",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "b46503c9.4b9b",
        "type": "mqtt-broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "ba386057.845d3",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883"
    },
    {
        "id": "3fd7311e.c028ce",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883"
    },
    {
        "id": "7ef048f4.810fb8",
        "type": "emoncms-server",
        "server": "http://emoncms.org/",
        "name": "Cloud Emoncms"
    },
    {
        "id": "ce53b3c4.31ac5",
        "type": "mqtt in",
        "name": "",
        "topic": "#",
        "broker": "b46503c9.4b9b",
        "x": 282,
        "y": 96,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "9d34cbaf.62cb38"
            ]
        ]
    },
    {
        "id": "51d14aa8.ae2eb4",
        "type": "inject",
        "name": "timestamp",
        "topic": "timestamp",
        "payload": "{\"TEST\":1234}",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "x": 175,
        "y": 243,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "b6eaf0ad.49151",
                "2be44d29.d41bb2",
                "91f487b2.6e0b78"
            ]
        ]
    },
    {
        "id": "2c71a09b.d38e6",
        "type": "mqtt out",
        "name": "",
        "topic": "/dogan/test",
        "qos": "0",
        "retain": "false",
        "broker": "b46503c9.4b9b",
        "x": 698,
        "y": 299,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "a8b9076f.5746f8",
        "type": "template",
        "name": "",
        "field": "payload",
        "template": "{ \"timestamp\": \"{{payload}}\" }",
        "x": 388,
        "y": 183,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "4cfd937a.b3026c"
            ]
        ]
    },
    {
        "id": "b6eaf0ad.49151",
        "type": "function",
        "name": "timestamp_to_date",
        "func": "// create a new javascript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds\nvar date = new Date(msg.payload);\n// hours part from the timestamp\nvar hours = date.getHours();\n// minutes part from the timestamp\nvar minutes = date.getMinutes();\n// seconds part from the timestamp\nvar seconds = date.getSeconds();\n\n// will display time in 10:30:23 format\n\nvar formated_date = { \"payload\" : hours + ':' + minutes + ':' + seconds };\n\nreturn formated_date;",
        "outputs": 1,
        "x": 292,
        "y": 438,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "a8b9076f.5746f8",
                "6b2a60b3.94d5a"
            ]
        ]
    },
    {
        "id": "4cfd937a.b3026c",
        "type": "json",
        "name": "",
        "x": 542,
        "y": 269,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "2c71a09b.d38e6",
                "e113eaaf.1eec18"
            ]
        ]
    },
    {
        "id": "9d34cbaf.62cb38",
        "type": "json",
        "name": "",
        "x": 568,
        "y": 160,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "ba1ee0b5.45e12"
            ]
        ]
    },
    {
        "id": "e113eaaf.1eec18",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 692,
        "y": 350,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "ba1ee0b5.45e12",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 756,
        "y": 159,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "2be44d29.d41bb2",
        "type": "http request",
        "name": "Weather for ZG",
        "method": "GET",
        "url": "http://api.openweathermap.org/data/2.5/weather?q=%22zielona%20gora%22&units=metric",
        "x": 273,
        "y": 578,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "8a6b82d.f75948"
            ]
        ]
    },
    {
        "id": "8a6b82d.f75948",
        "type": "json",
        "name": "",
        "x": 446,
        "y": 573,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "7a1b7a66.85e484"
            ]
        ]
    },
    {
        "id": "7a1b7a66.85e484",
        "type": "function",
        "name": "Parse weather forecast",
        "func": "var date = new Date(msg.payload.dt*1000);\n\nvar formated_text = {\"payload\" : \n\t\t\t\t\t\t{ \"timestamp\" : msg.payload.dt*1000,\n\t\t\t\t\t\t  \"datetime\"  : date,\n\t\t\t\t\t\t\t\t  \"forecast\"  : \"Currently in \" + msg.payload.name \n\t\t\t\t\t\t\t\t  + \" \" + msg.payload.weather[0].description + \".\"\n\t\t\t\t\t\t\t\t  + \" The temperature is \" + msg.payload.main.temp + \"˚C\"}\n\t\t\t\t\t\t\t\t};\n\nreturn formated_text;",
        "outputs": 1,
        "x": 647,
        "y": 604,
        "z": "bc1e14f2.43e1e8",
        "wires": [
            [
                "e07fc968.1f8038"
            ]
        ]
    },
    {
        "id": "e07fc968.1f8038",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 824,
        "y": 571,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "6b2a60b3.94d5a",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 585,
        "y": 438,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "91f487b2.6e0b78",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 98,
        "y": 341,
        "z": "bc1e14f2.43e1e8",
        "wires": []
    },
    {
        "id": "abd7901e.54287",
        "type": "mqtt in",
        "name": "Kitchen switch 1",
        "topic": "/dogan/home/switch/kitchen/1",
        "broker": "b46503c9.4b9b",
        "x": 235,
        "y": 107,
        "z": "61ef7b03.9e1084",
        "wires": [
            [
                "3e30b418.c1cf4c",
                "96f54d59.690ab",
                "d8e6c4fc.271938"
            ]
        ]
    },
    {
        "id": "f58e634e.0a71a",
        "type": "mqtt out",
        "name": "Kitchen lights 1",
        "topic": "/dogan/home/lights/kitchen/1",
        "qos": "2",
        "retain": "true",
        "broker": "b46503c9.4b9b",
        "x": 737,
        "y": 117,
        "z": "61ef7b03.9e1084",
        "wires": []
    },
    {
        "id": "96f54d59.690ab",
        "type": "switch",
        "name": "Check",
        "property": "payload.state",
        "rules": [
            {
                "t": "eq",
                "v": "on"
            },
            {
                "t": "eq",
                "v": "off"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 493,
        "y": 180,
        "z": "61ef7b03.9e1084",
        "wires": [
            [
                "f58e634e.0a71a"
            ],
            [
                "f58e634e.0a71a"
            ],
            [
                "550535d7.aafacc"
            ]
        ]
    },
    {
        "id": "550535d7.aafacc",
        "type": "debug",
        "name": "Error log",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 726,
        "y": 259,
        "z": "61ef7b03.9e1084",
        "wires": []
    },
    {
        "id": "3e30b418.c1cf4c",
        "type": "debug",
        "name": "Debug log 1",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 415,
        "y": 361,
        "z": "61ef7b03.9e1084",
        "wires": []
    },
    {
        "id": "d8e6c4fc.271938",
        "type": "function",
        "name": "Parse payload",
        "func": "msg.payload = jQuery.parseJSON(msg.payload)\nreturn msg;",
        "outputs": 1,
        "x": 476,
        "y": 61,
        "z": "61ef7b03.9e1084",
        "wires": [
            [
                "dc1be0a.f23e42"
            ]
        ]
    },
    {
        "id": "dc1be0a.f23e42",
        "type": "debug",
        "name": "Debug log 2",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 499,
        "y": 429,
        "z": "61ef7b03.9e1084",
        "wires": []
    },
    {
        "id": "3e3a6a1e.c1c596",
        "type": "ping",
        "name": "",
        "host": "www.google.com",
        "timer": "1",
        "x": 150,
        "y": 99,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "70f0a611.8f0f58"
            ]
        ]
    },
    {
        "id": "ebaff28b.14501",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 494,
        "y": 214,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "49ccf172.b6331",
        "type": "emoncms",
        "name": "Emoncms",
        "emonServer": "7ef048f4.810fb8",
        "nodegroup": "2",
        "x": 489,
        "y": 38,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "8e9c8e08.71637",
        "type": "mqtt out",
        "name": "Work MacBook Ping",
        "topic": "/dogan/work/macbookpro/ping",
        "qos": "",
        "retain": "",
        "broker": "b46503c9.4b9b",
        "x": 507,
        "y": 88,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "70f0a611.8f0f58",
        "type": "template",
        "name": "",
        "field": "payload",
        "template": "{\"ping\":\"{{payload}}\"}",
        "x": 305,
        "y": 100,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "8e9c8e08.71637",
                "49ccf172.b6331",
                "b94dfb7e.46b208"
            ]
        ]
    },
    {
        "id": "b94dfb7e.46b208",
        "type": "json",
        "name": "",
        "x": 291,
        "y": 324,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "ebaff28b.14501",
                "d7e579c7.281a88",
                "b791e660.486e18"
            ]
        ]
    },
    {
        "id": "d7e579c7.281a88",
        "type": "switch",
        "name": "",
        "property": "payload.ping",
        "rules": [
            {
                "t": "gt",
                "v": 0.1,
                "v2": 0
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 513,
        "y": 311,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "846f707d.7b909",
                "98594d8a.67a6b"
            ],
            [
                "3341b7f7.ccbe48"
            ]
        ]
    },
    {
        "id": "846f707d.7b909",
        "type": "debug",
        "name": "High",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 705,
        "y": 280,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "3341b7f7.ccbe48",
        "type": "debug",
        "name": "Low",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 728,
        "y": 329,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "978ea3c3.68716",
        "type": "e-mail",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "wojciech@doganowscy.com",
        "dname": "",
        "x": 762,
        "y": 124,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "98594d8a.67a6b",
        "type": "template",
        "name": "Ping",
        "field": "payload",
        "template": "Hello,\n\nYour ping is higher than expected. Currently it is {{payload.ping}}s.\n\nCiao",
        "x": 663,
        "y": 187,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "5f0b067a.a0f4f8"
            ]
        ]
    },
    {
        "id": "48fa2621.b705d8",
        "type": "pushover",
        "title": "",
        "name": "",
        "priority": 0,
        "x": 763,
        "y": 416,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "5f0b067a.a0f4f8",
        "type": "template",
        "name": "HTML",
        "field": "",
        "template": "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 3.2 Final//EN\">\n<html>\n <head>\n  <title>Ping</title>\n </head>\n <body>\n \n {{payload}} / {{context.global.ping.payload}}\n \n </body></html>",
        "x": 790,
        "y": 184,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "a8fc3645.5703c8"
            ]
        ]
    },
    {
        "id": "62e0b08b.9d1f5",
        "type": "http in",
        "name": "Home_Page",
        "url": "/Home_Page",
        "method": "get",
        "x": 124,
        "y": 272,
        "z": "4033aaba.bfcc54",
        "wires": [
            [
                "ae7a025c.5186"
            ]
        ]
    },
    {
        "id": "ae7a025c.5186",
        "type": "template",
        "name": "",
        "field": "",
        "template": "<!DOCTYPE html> \n<html>\n<head>\n\t<title>Page Title</title>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css\" />\n<script src=\"http://code.jquery.com/jquery-1.9.1.min.js\"></script>\n<script src=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js\"></script>\n</head>\n\n<body>\n<!-- Start of first page: #one -->\n<div data-role=\"page\" id=\"one\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Multi-page with ping of {{context.global.ping}}</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\" >\n\t\t<h2>One</h2>\n\n\t\t<p>I have an <code>id</code> of \"one\" on my page container. I'm first in the source order so I'm shown when the page loads.</p>\n\n\t\t<p>This is a multi-page boilerplate template that you can copy to build your first jQuery Mobile page. This template contains multiple \"page\" containers inside, unlike a single page template that has just one page within it.</p>\n\t\t<p>Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.</p>\n\t\t<p>You link to internal pages by referring to the <code>id</code> of the page you want to show. For example, to <a href=\"#two\" >link</a> to the page with an <code>id</code> of \"two\", my link would have a <code>href=\"#two\"</code> in the code.</p>\n\n\t\t<h3>Show internal pages:</h3>\n\t\t<p><a href=\"#two\" class=\"ui-btn ui-shadow ui-corner-all\">Show page \"two\"</a></p>\n\t\t<p><a href=\"#popup\" class=\"ui-btn ui-shadow ui-corner-all\" data-rel=\"dialog\" data-transition=\"pop\">Show page \"popup\" (as a dialog)</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page one -->\n\n<!-- Start of second page: #two -->\n<div data-role=\"page\" id=\"two\" data-theme=\"a\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Two</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t\t<h2>Two</h2>\n\t\t<p>I have an id of \"two\" on my page container. I'm the second page container in this multi-page template.</p>\n\t\t<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>\n\t\t<p><a href=\"#one\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b\">Back to page \"one\"</a></p>\n\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page two -->\n\n<!-- Start of third page: #popup -->\n<div data-role=\"page\" id=\"popup\">\n\n\t<div data-role=\"header\" data-theme=\"b\">\n\t\t<h1>Dialog</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t\t<h2>Popup</h2>\n\t\t<p>I have an id of \"popup\" on my page container and only look like a dialog because the link to me had a <code>data-rel=\"dialog\"</code> attribute which gives me this inset look and a <code>data-transition=\"pop\"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>\n\t\t<p><a href=\"#one\" data-rel=\"back\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left\">Back to page \"one\"</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page popup -->\n</body>\n\n\n\n\n\n</html>",
        "x": 365,
        "y": 257,
        "z": "4033aaba.bfcc54",
        "wires": [
            [
                "dcb1b53.f234e48"
            ]
        ]
    },
    {
        "id": "dcb1b53.f234e48",
        "type": "http response",
        "name": "",
        "x": 570,
        "y": 302,
        "z": "4033aaba.bfcc54",
        "wires": []
    },
    {
        "id": "b791e660.486e18",
        "type": "function",
        "name": "Store ping",
        "func": "context.global.ping = msg.payload.ping;\nreturn_msg = {\"payload\":context.global.ping};\n\nreturn return_msg; ",
        "outputs": "1",
        "x": 422,
        "y": 399,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "21d7ddf2.de2822"
            ]
        ]
    },
    {
        "id": "c8c98cc9.37367",
        "type": "http in",
        "name": "Ping",
        "url": "/Ping",
        "method": "get",
        "x": 177,
        "y": 516,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "8798e4b4.786718"
            ]
        ]
    },
    {
        "id": "6575065.f9a8af8",
        "type": "template",
        "name": "",
        "field": "",
        "template": "<!DOCTYPE html> \n<html>\n<head>\n\t<title>Page Title</title>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css\" />\n<script src=\"http://code.jquery.com/jquery-1.9.1.min.js\"></script>\n<script src=\"http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js\"></script>\n</head>\n\n<body>\n<!-- Start of first page: #one -->\n<div data-role=\"page\" id=\"one\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Multi-page with ping of {{payload}}</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\" >\n\t\t<h2>One</h2>\n\n\t\t<p>I have an <code>id</code> of \"one\" on my page container. I'm first in the source order so I'm shown when the page loads.</p>\n\n\t\t<p>This is a multi-page boilerplate template that you can copy to build your first jQuery Mobile page. This template contains multiple \"page\" containers inside, unlike a single page template that has just one page within it.</p>\n\t\t<p>Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.</p>\n\t\t<p>You link to internal pages by referring to the <code>id</code> of the page you want to show. For example, to <a href=\"#two\" >link</a> to the page with an <code>id</code> of \"two\", my link would have a <code>href=\"#two\"</code> in the code.</p>\n\n\t\t<h3>Show internal pages:</h3>\n\t\t<p><a href=\"#two\" class=\"ui-btn ui-shadow ui-corner-all\">Show page \"two\"</a></p>\n\t\t<p><a href=\"#popup\" class=\"ui-btn ui-shadow ui-corner-all\" data-rel=\"dialog\" data-transition=\"pop\">Show page \"popup\" (as a dialog)</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\" data-theme=\"a\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page one -->\n\n<!-- Start of second page: #two -->\n<div data-role=\"page\" id=\"two\" data-theme=\"a\">\n\n\t<div data-role=\"header\">\n\t\t<h1>Two</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t\t<h2>Two</h2>\n\t\t<p>I have an id of \"two\" on my page container. I'm the second page container in this multi-page template.</p>\n\t\t<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>\n\t\t<p><a href=\"#one\" data-direction=\"reverse\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-b\">Back to page \"one\"</a></p>\n\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page two -->\n\n<!-- Start of third page: #popup -->\n<div data-role=\"page\" id=\"popup\">\n\n\t<div data-role=\"header\" data-theme=\"b\">\n\t\t<h1>Dialog</h1>\n\t</div><!-- /header -->\n\n\t<div role=\"main\" class=\"ui-content\">\n\t\t<h2>Popup</h2>\n\t\t<p>I have an id of \"popup\" on my page container and only look like a dialog because the link to me had a <code>data-rel=\"dialog\"</code> attribute which gives me this inset look and a <code>data-transition=\"pop\"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>\n\t\t<p><a href=\"#one\" data-rel=\"back\" class=\"ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left\">Back to page \"one\"</a></p>\n\t</div><!-- /content -->\n\n\t<div data-role=\"footer\">\n\t\t<h4>Page Footer</h4>\n\t</div><!-- /footer -->\n</div><!-- /page popup -->\n</body>\n\n\n\n\n\n</html>",
        "x": 418,
        "y": 501,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "bff318d8.400ce8"
            ]
        ]
    },
    {
        "id": "bff318d8.400ce8",
        "type": "http response",
        "name": "",
        "x": 623,
        "y": 546,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "21d7ddf2.de2822",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 598,
        "y": 384,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "a8fc3645.5703c8",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 850,
        "y": 235,
        "z": "eba9f89b.145608",
        "wires": []
    },
    {
        "id": "db51de0f.24ae2",
        "type": "function",
        "name": "loop",
        "func": "// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}",
        "outputs": "2",
        "x": 466,
        "y": 117,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "7a3aabe9.85c554",
                "a46f2131.5b90e"
            ],
            [
                "9994e4b6.666b18"
            ]
        ]
    },
    {
        "id": "9994e4b6.666b18",
        "type": "delay",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 472,
        "y": 243,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "db51de0f.24ae2"
            ]
        ]
    },
    {
        "id": "7a3aabe9.85c554",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 681,
        "y": 109,
        "z": "1fe2ab2d.e01d55",
        "wires": []
    },
    {
        "id": "90cc1395.6f33f",
        "type": "inject",
        "name": "toggle loop 1",
        "topic": "loop1",
        "payload": "toggle",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 258,
        "y": 116,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "db51de0f.24ae2"
            ]
        ]
    },
    {
        "id": "1c4074bd.e3bf8b",
        "type": "function",
        "name": "loop",
        "func": "// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}",
        "outputs": "2",
        "x": 482,
        "y": 363,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "7b60d417.849f2c"
            ],
            [
                "a380b8b5.5c7f48"
            ]
        ]
    },
    {
        "id": "a380b8b5.5c7f48",
        "type": "delay",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 482,
        "y": 490,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "1c4074bd.e3bf8b"
            ]
        ]
    },
    {
        "id": "7b60d417.849f2c",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 671,
        "y": 358,
        "z": "1fe2ab2d.e01d55",
        "wires": []
    },
    {
        "id": "8cf655a0.7309a8",
        "type": "inject",
        "name": "start loop 2",
        "topic": "loop2",
        "payload": "start",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 260,
        "y": 328,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "1c4074bd.e3bf8b"
            ]
        ]
    },
    {
        "id": "c59c9644.3a6368",
        "type": "inject",
        "name": "stop loop 2",
        "topic": "loop2",
        "payload": "stop",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 262,
        "y": 404,
        "z": "1fe2ab2d.e01d55",
        "wires": [
            [
                "1c4074bd.e3bf8b"
            ]
        ]
    },
    {
        "id": "a89ee8.ff576118",
        "type": "function",
        "name": "",
        "func": "context.global.test = \"test\"\n\nreturn msg;",
        "outputs": 1,
        "x": 414,
        "y": 162,
        "z": "e8e25add.171da8",
        "wires": [
            []
        ]
    },
    {
        "id": "1897e069.e7682",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 168,
        "z": "e8e25add.171da8",
        "wires": [
            [
                "a89ee8.ff576118",
                "9b69c914.649638"
            ]
        ]
    },
    {
        "id": "326674b4.cd998c",
        "type": "function",
        "name": "",
        "func": "msg.payload = context.global.test;\n\nreturn msg;",
        "outputs": 1,
        "x": 412,
        "y": 287,
        "z": "e8e25add.171da8",
        "wires": [
            [
                "ceee99b8.311168"
            ]
        ]
    },
    {
        "id": "69819c6b.967e64",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 238,
        "y": 293,
        "z": "e8e25add.171da8",
        "wires": [
            [
                "326674b4.cd998c"
            ]
        ]
    },
    {
        "id": "ceee99b8.311168",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 639,
        "y": 287,
        "z": "e8e25add.171da8",
        "wires": []
    },
    {
        "id": "8798e4b4.786718",
        "type": "function",
        "name": "",
        "func": "msg.payload = context.global.ping;\n\nreturn msg;",
        "outputs": 1,
        "x": 302,
        "y": 451,
        "z": "eba9f89b.145608",
        "wires": [
            [
                "6575065.f9a8af8"
            ]
        ]
    },
    {
        "id": "a46f2131.5b90e",
        "type": "digiRGB",
        "name": "",
        "x": 720,
        "y": 196,
        "z": "1fe2ab2d.e01d55",
        "wires": []
    },
    {
        "id": "9b69c914.649638",
        "type": "scanBLE",
        "name": "",
        "ble_name": "Pebble-LE 06C2",
        "ble_uuid": "*",
        "x": 360,
        "y": 417,
        "z": "e8e25add.171da8",
        "wires": [
            [
                "ceee99b8.311168"
            ]
        ]
    }
]